<%- include('./partials/header') %>
    <div class="container1">
        <div class="container-md">
            <img class ="recipe-image" src="/images/burnt.jpg" 
                alt="image" width="500" height="250"/>
            <h2>Something went wrong...</h2>
            <p><%= error %></p>
            <a href="/" class="btn btn-warning">Go Back Home</a>
        </div>
    </div>    
<%- include('./partials/footer') %>