<%- include('./partials/header') %>
<style>
    h3   {color: white}
</style>
<div class="container">
    <img class ="recipe-image" src="/images/food.jpeg" 
        alt="image" width="350" height="250"/>

    <h3>Ever open the fridge and not know what to cook? </h3>
    <h3>Let this app help you cook up an idea. </h3>
    <h3>Search by ingredients and the app will find 
        recipes with those ingredients.</h3>

    <img class ="recipe-image" src="/images/RecipeLetsCookIcon.jpeg" 
        alt="image" width="550" height="250"/>

    <h3>Connect and be able to save favorite recipes.</h3>
</div>
<%- include('./partials/footer') %>