<%- include('./partials/header') %>
<a href="/">Home</a> |    
<a href="/recipe">Recipe</a> |
<a href="/"
<img class ="recipe-image" src="/images/food.jpeg" 
    alt="image" width="350" height="250"/>
<h1>Type in ingredients or dishes. Find recipes to make with what you have.</h1>
<%- include('./partials/footer') %>