body {
    background-color: black;
    text-align: center;
} 

h1   {
    color: white;
}

h2   {
    color: white;
}

a    {
    color: white;
}

.box3 { 
    background-image: url('/images/searchimage.jpeg');
    width: 100%; 
    align-items: center; 
    height: 100%; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    margin: 10px;
}

.box2 { 
    background-image: url('images/foodborder.jpeg');
    width: 100%; 
    align-items: center; 
    height: 150px;
    object-fit: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

.box4 { 
    background-image: url('/images/searchpage.avif');
    color: brown;
    width: 100%; 
    align-items: center; 
    height: 100%; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    margin: 10px;
}

.container1 {
    background-color: brown;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center; 
    margin: 10px;
    padding: 10px;
}

.container2 {
    background-color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}

.btn-group {
    margin: 30px;
}

.button-container {
    display: flex;
}
#firstButton {
background-color: black !important;
color:  beige;
display: block;
margin-top: 20px;
}
#secondButton {
background-color: beige !important;
color: black;
display: block;
margin-top: 20px;
}
#recipesButton {
background-color: black !important;
color:  beige;
display: block;
margin-top: 20px; 
}