<div class="container1">
    <div class="container center">
        <div class="container row text-center">
            <% recipes.forEach(function(recipe) {%>
                <div class="card mt-3 me-3 recipeCard">
                    <h5 class="card-title"><%= recipe.title %></h5>
                    <img src="<%= recipe.image %>" alt="recipe image" class="card-img-top mt-3" width="250" height="250">
                </div>
            <% }) %>
        </div>
    </div>
</div>