<%- include('./partials/header') %>

<div class="container center">
    <div class="container row text-center">
        <% recipes.forEach(function(recipe) {%>
            <div class="card mt-3 me-3 recipeCard">
                <h5 class="card-title"><%= recipes %></h5>
            </div>
        <% }) %>
    </div>
</div>
<%- include('./partials/footer') %>