<%- include('../partials/header') %>
<div class="container center">
    <div class="container row text-center">
        <% recipes.forEach(function(recipe) {%>
            <div class="card mt-3 me-3 recipeCard">
                <img src="<%= recipe.image %>" alt="recipe image" class="card-img-top mt-3">
            </div>
        <% }) %>
    </div>
</div>
<%- include('../partials/footer') %>