<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets-Cook App</title>
</head>
<div class="container">
</div>
<body>
<h2>Search All Recipes</h2>
<button id="refreshButton">Next Recipe</button>

<script>
document.getElementById('refreshButton').addEventListener('click', function() {
    location.reload();
});
</script> 
<style>
    body {  background-color: brown;
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center; 
    } 
    h2, h5   {color: white}

    #refreshButton, #goHomeButton {
    background-color: black !important;
    color: white;
    display: block;
    margin-top: 20px;
    }
</style>
    <% recipes.forEach(function(recipe) {%>
            <h2 class="title"><%= recipe.title %></h2>
            <img src="<%= recipe.image %>" alt="recipe image" width="250" height="250">
            <h5 class="id"><%= recipe.id %></h5>
    <% }) %>
    
    <button id="goHomeButton">Home Page</button>
    <script>
    document.getElementById('goHomeButton').addEventListener('click', function() {
        window.location.href = '/'
    });
    </script> 

</body>
</html>