<!DOCTYPE html>
<html>
<head>
    <title>Next Recipe</title>
</head>

<body>

<button id="refreshButton">Next Recipe</button>

<script>
document.getElementById('refreshButton').addEventListener('click', function() {
    location.reload();
});
</script> 
<style>
    body {  background-color: brown;
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center; 
    } 
    h2   {color: white}

    #refreshButton {
    background-color: black !important;
    color: white;
    display: block;
    margin: 0 auto;
    }

</style>
    <% recipes.forEach(function(recipe) {%>
            <h2 class="title"><%= recipe.title %></h2>
            <img src="<%= recipe.image %>" alt="recipe image" width="250" height="250">
    <% }) %>
</body>
</html>